<section class="results">
  <h1>{{title}}</h1>
  <div class="selected-numbers">
    <h2><span class="bold">Números escolhidos:</span>
    </h2>
    <p>{{join selectedNumbers " "}}</p>
  </div>
  {{#if matches4.length}}
    <h2>Você acertou 4 números nos seguintes concursos:</h2>
    <ul>
      {{#each matches4}}
        <li>
          <span>Concurso
            <span class="bold">{{this.concurso}}</span>: acertou
            {{this.matchCount}}
            números:</span>
          <span>{{join this.resultNumbers " "}}</span>
        </li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if matches5.length}}
    <h2>Você acertou 5 números nos seguintes concursos:</h2>
    <ul>
      {{#each matches5}}
        <li>
          <span>Concurso
            <span class="bold">{{this.concurso}}</span>: acertou
            {{this.matchCount}}
            números:</span>
          <span>{{join this.resultNumbers " "}}</span>
        </li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if matches6.length}}
    <h2>Você acertou 6 números nos seguintes concursos:</h2>
    <ul>
      {{#each matches6}}
        <li>
          <span>Concurso
            <span class="bold">{{this.concurso}}</span>: acertou
            {{this.matchCount}}
            números:</span>
          <span>{{join this.resultNumbers " "}}</span>
        </li>
      {{/each}}
    </ul>
  {{/if}}

  {{#unless matches4.length}}
    {{#unless matches5.length}}
      {{#unless matches6.length}}
        <span>Infelizmente, você não acertou nenhum concurso.</span>
      {{/unless}}
    {{/unless}}
  {{/unless}}

  <a href="/">Voltar</a>
</section>